#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="defaultStatementTimeout" value="15"/>
        <setting name="logPrefix" value="mybatis.mapper."/>
    </settings>
    <typeAliases>
        <package name="${package}.common.pojo.entity"/>
    </typeAliases>
</configuration>