#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" monitorInterval="60">
    <Properties>
        <property name="log_pattern">%d{yyyy-MM-dd HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n</property>
        <property name="file_name">/web/webapps/logs/${package}/${artifactId}.log</property>
            <property name="rolling_file_name">/web/webapps/logs/${package}/${artifactId}-${symbol_dollar}{date:yyyy-MM}/%d{yyyy-MM-dd}-%i.log.gz</property>
        <property name="every_file_size">100M</property>
        <property name="output_log_level">DEBUG</property>
    </Properties>
    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${symbol_dollar}{log_pattern}"/>
        </console>
        <!--<RollingFile name="RollingFile" fileName="${symbol_dollar}{file_name}" filePattern="${symbol_dollar}{rolling_file_name}">-->
            <!--<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>-->
            <!--<PatternLayout pattern="${symbol_dollar}{log_pattern}"/>-->
            <!--<Policies>-->
                <!--<TimeBasedTriggeringPolicy/>-->
                <!--<SizeBasedTriggeringPolicy size="${symbol_dollar}{every_file_size}"/>-->
            <!--</Policies>-->
            <!--<DefaultRolloverStrategy max="20"/>-->
        <!--</RollingFile>-->
    </appenders>
    <loggers>
        <logger name="org.springframework" level="WARN"/>
        <logger name="org.mybatis" level="INFO"/>
        <logger name="mybatis.mapper" level="DEBUG"/>
        <logger name="${package}" level="DEBUG"/>
        <root level="${symbol_dollar}{output_log_level}">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>